version: "3.9"
services:
  app:
    build:
      context: ./.docker
    container_name: php-app
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html:rw
    environment:
      DB_HOST: db
      DB_PORT: "3306"
      DB_NAME: moja_strona
      DB_USER: root
      DB_PASS: password
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moja_strona
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./databases/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro

  phpmyadmin:
    image: phpmyadmin:5
    container_name: pma
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:


