body {
    font-family: Bookman, serif;
}

header, footer {
    background-color: Indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

.napis {
    background-color: BlueViolet;
    padding: 10px;
    text-align: right;
}

.blok-lewy, .blok-prawy {
    background-color: Lavender;
    height: 500px;
}

.blok-lewy {
    width: 25%;
}

.blok-prawy {
    width: 35%;
}

.blok-srodkowy {
    background-color: GhostWhite;
    text-align: center;
    height: 500px;
    width: 40%;
}

.tresci {
    display: flex;
}

img {
    float: left;
    width: 50%;
    padding: 10px;
}

header p, footer p {
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form {
    margin: 30px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid Indigo;
}

td, th {
    padding: 3px;
}

