* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.bok {
    width: 20%;
    height: 610px;
}

.bok img {
    width: 100%;
    height: 610px;
    object-fit: cover;
}

.prawa-strona {
    width: 80%;
}

header, nav, footer {
    background-color: MediumPurple;
    color: white;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 4px 4px DimGray;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    padding-top: 10px;
}

nav input {
    margin-right: 5px;
}

main {
    background-color: Thistle;
    width: 80%;
    height: 450px;
    margin: 0 auto;
    overflow: auto;
}

#lista-zadan {
    margin: 40px auto;
    width: 70%;
    font-size: 25px;
    border: 2px solid MediumPurple;
    list-style-type: none;
    padding: 0;
}

#lista-zadan li {
    padding: 10px;
}

#lista-zadan li:nth-child(even) {
    background-color: #DDCADD;
}

#lista-zadan li:hover {
    background-color: Lavender;
}

.wykonane-btn {
    float: right;
    background-color: MediumPurple;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
}