* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 0 3%;
    margin: 0;
}

header {
    background-color: #FDFAAA;
    color: #5BBB77;
    padding: 10px;
    text-shadow: 5px 5px 10px #000;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lewy {
    background-color: #FFA6A6;
    width: 79%;
    height: 600px;
    margin: 15px 0;
    box-shadow: 5px 6px 10px #000;
    padding: 15px 0 10px;
}

.lewy h3 {
    margin-top: 0;
}

.lewy button {
    padding: 8px 14px;
    cursor: pointer;
}

table {
    margin: 10px auto 0;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5BBB77;
    font-size: 16px;
    height: 40px;
}

tbody tr:nth-child(even) {
    background-color: #FDFAAA;
}

.prawy {
    background: linear-gradient(#FDFAAA, #5BBB77);
    width: 20%;
    height: 630px;
    padding-top: 20px;
}

.prawy img {
    width: 80%;
}

h4 {
    color: green;
}

ul {
    list-style-type: square;
    line-height: 1.5;
    text-align: left;
    padding-left: 30px;
}

a {
    color: #680808;
    text-decoration: none;
}

footer {
    background-color: #5BBB77;
    color: #FFF555;
    font-weight: bold;
    font-size: 120%;
    padding: 15px;
    margin-top: 10px;
}
